<!DOCTYPE html>
<html lang="en">
  <head>
    <script src="https://cdn.jsdelivr.net/npm/htmx.org@2.0.6/dist/htmx.min.js"></script>
    <title>GoDL</title>
    <meta name="viewport" content="width=device-width">
    <!-- <link rel="stylesheet" href="/static/css/style.css"> -->
    <!-- <script src="/static/js/script.js"></script> -->
    <style>
      button, a, #list {
        font-size: 16px;
      }
      #list, tr{
        display: flex;
        flex-direction: column;
        justify-content: center;
      }
    </style>
  </head>
  <body>
  <div id=parent-div>
    <h1>
      GoDL
    </h1>
    <div id="list">
    </div>
    <button hx-get="/add" hx-target="#list" hx-swap="beforeend">
      Add to-do
    </button>
  </div>
  </body>
</html>
